body{
    background: linear-gradient(45deg, #eeb2e6, #fd81ed);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #970f85;
    font-size: 25px;
}